/*
    Document   : product
    Created on : 19 Sep, 2010, 7:07:21 PM
    Author     : bhaskar
    Description:
        To style the product related pages of Super Sales corporation.
*/

.prodCat-container{
    width: 100%;
    min-height: 150px;
    max-height: 320px;
    background-color: #fff;
    overflow: hidden;
    text-align: center; /* Hack for IE5/Win */
}

div#image-container{
    text-align:left; /* Counteract to IE5/Win Hack */
    margin: 4px auto;
    width: 85%;
}

.image{
    margin-top: 4px;
    margin-right: 12px;
    margin-bottom: 4px;
    margin-left: 12px;
    padding: 5px;
    float:left;
    vertical-align: top;
    -webkit-transform:scale(0.8);
    -moz-transform:scale(0.8);
    -o-transform:scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    cursor:pointer;
}

.image img{
    padding:10px;
    border:0px solid #fff;
}

.image:hover{
    -webkit-transform:scale(1.1);
    -webkit-box-shadow:0px 0px 40px #aaa;
    -moz-transform:scale(1.1);
    -moz-box-shadow:0px 0px 40px #aaa;
    -o-transform:scale(1.1);
    -o-box-shadow:0px 0px 40px #aaa;
    cursor:pointer;
}

.image .mask{
    width: 100%;
    background-color: #333;
    position: absolute;
    height: 100%;
    opacity:0.6;
    cursor:pointer;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration:0.5s;
}

#prodCat-image:hover .mask{
    margin-left:219px;
    margin-top:135px;
    height:0%;
    width:0%;
    -webkit-transform: rotateZ(750deg);
    -moz-transform: rotateZ(750deg);
    -o-transform: rotat(750deg);
}

div.prodCat-header{
    text-align: center;
    color: #153E7E;
    font-weight: bold;
    text-transform: uppercase;
}

.product-content{
    margin: 2px;
    text-align: left;
}

div.prodListHeader h3 span{
    float: right;
}

div.productList .content-heading img{
    vertical-align: middle;
    padding: 0px;
    cursor: pointer;
}

.product-description{
    margin: 0px 5px 3px 5px;
    border: 1px solid #192D4C;
    padding: 8px 12px 8px 12px;
    text-align: left;
    overflow: auto;
    height: 100%;
    background-color: #192D4C;
}

.product-description div span{
    font-weight: bold;
    font-style: italic;
    color: #1D2020;
}

div.product-data{
    margin: 1px;
    border: 1px solid #B2CCE5;
    padding: 4px 6px 4px 6px;
    width: 33.8%;
    position: relative;
    float: left;
    background-color: #CCCCCC;
    color: #001933;
    /*height: 204px;*/
}

div.product-data a:link{
    text-decoration:underline;
    color: #009939;
    cursor: pointer;
}

div.product-data a:visited{
    color: #0A8085;
    font-weight:bold;
}

div.product-data a:hover{
    color: #0A8085;
    text-decoration:none;
}

div.product-data a:active{
    color: #616161;
}

div.product-image{
    margin: 1px;
    border: 1px solid #B2CCE5;
    padding: 6px 10px 6px 10px;
    width: 60%;
    position: relative;
    float:right;
    background-color: #CCCCCC;
    overflow: hidden;
    /*height: 200px;*/
}

div.product-image div.imageGallery{
    margin: 2px;
    border: 0px solid #000;
    float: left;
    height: auto;
    width: auto;
    text-align: center;
}

div.product-image div.imageGallery img{
    display: inline;
    margin: 3px;
    border: 0px solid #ffffff;
}

div.product-image div.imageGallery img:hover{
    outline: 1px solid #0000ff;
}

div.product-image div.imageGallery div.imageDesc{
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 2px;
}